/* ========================================================================
 * Section
 * ======================================================================== */

body {
    font-size: 12px;
}

.panel {
    position: absolute;
    top: 10px;
    right: 10px;
}

p {
    margin-top: 100px;
}

.container {
    width: 480px;
    margin: 10px auto;
}

table {
    width: 480px;
    table-layout: fixed;
}

th,
td {
    padding: 0;
    text-align: center;
    border: 1px solid #e1e2e2;
}

td.filled {
    background-color: #cbcbcb;
    border-color: #b6b6b7;
}

i.fas
i.far, {
    font-size: 15px;
    vertical-align: middle;
}

/* ========================================================================
 * Section
 * ======================================================================== */

[v-cloak] {
    display: none;
}

/* ========================================================================
 * Section
 * ======================================================================== */



/* ========================================================================
 * Section
 * ======================================================================== */



/* ========================================================================
 * Section
 * ======================================================================== */



/* ========================================================================
 * Section
 * ======================================================================== */



/* ========================================================================
 * Section
 * ======================================================================== */



/* ========================================================================
 * Section
 * ======================================================================== */



/* ========================================================================
 * Section
 * ======================================================================== */



/* ========================================================================
 * Section
 * ======================================================================== */
